<div class="nav-bar">

  <div fxLayout="row" fxLayoutAlign="center">
    <i-feather name="linkedin" class="social-icons"></i-feather>
    <i-feather name="github" class="social-icons"></i-feather>
  </div>
<div fxFlex></div>
  <div fxLayout="row">
      <div class="nav-button" fxLayout="column">About</div>
      <div class="nav-button" fxLayout="column">Projects</div>
      <div class="nav-button" fxLayout="column">Resume</div>
      <div class="nav-button" fxLayout="column">Contact</div>
  </div>
</div>
