<div class="about-page">
  <div class="welcome-message" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row">
      <b> My Name is <i class="name">Maxwell Coleman</i> and I am a front-end developer with a love for
        UX/UI design. </b>
    </div>
  </div>

  <div class="about-body" fxLayout="row">
    <div class="profile-picture" fxLayout="column">
      <img src="../../../assets/images/profile-picture.jpg">
    </div>
    <div fxLayout="column">
      <div class="about-title" fxLayout="row"><b>About me</b></div>
      <div class="about-text" fxLayout="row">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum turpis eu metus venenatis, sit amet
        molestie
        ipsum tristique. Donec a gravida enim, vitae dapibus libero. Phasellus facilisis vestibulum libero vitae
        suscipit.
        Donec varius fermentum eros quis placerat. Nunc auctor pellentesque diam id tempus. Vivamus auctor lorem leo, eu
        vulputate ex egestas non. Integer tempus enim non neque molestie lacinia.

        - Sed mattis finibus sapien fermentum ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        - Nunc eu neque urna. Nunc eu magna mollis, aliquam erat et, gravida nisl.
        - Phasellus ultricies in lectus a euismod. Praesent id congue nisi. Aenean non dui dui.
        - Donec et ultrices sapien, sit amet placerat ipsum. Aliquam a tortor eu dui volutpat blandit. Sed rutrum
        dapibus
        mauris vel scelerisque.
        - Etiam efficitur, nunc non dictum pellentesque, lorem tellus pretium dui, id congue nisl erat ut quam. Sed
        volutpat, lorem vel varius mattis, lacus nunc iaculis nibh, quis mattis odio dui tincidunt massa. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ullamcorper ligula non ex
        posuere, vel commodo purus ultricies. Suspendisse maximus consectetur arcu non vehicula.
      </div>
    </div>
  </div>
</div>
